body{
  background-color: #27d8c9;
}
header {
  background-color: #4825da;
}

body {
  background-color: #bbd4d0;
  color: white;
}

img {
  display: block;
  margin: 25px auto;
}

img {
  display: block;
  margin: 25px auto;
  border-radius: 25px;
}

body {
  background-color: #bbd4d0;
  color: white;
  text-align: center;
}

h1{
  padding: 1cm;
  margin: 0;
}
